<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Railway System</title>
    <meta name="description" content="" />
    <meta name="author" content="Tooplate" />
    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Additional CSS Files -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />
    <link rel="stylesheet" href="../static/assets/css/fontawesome.css" />
    <link rel="stylesheet" href="../static/assets/css/tooplate-style.css" />
    <link rel="stylesheet" href="../static/assets/css/owl.css" />
    <link rel="stylesheet" href="../static/assets/css/lightbox.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
  </head>
<!--
Tooplate 2116 Blugoon
https://www.tooplate.com/view/2116-blugoon
-->
  <body>
    <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu" style="width:auto">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <!-- <div class="image">
              <a href="#"><img src="../assets/images/logo-image.jpg" alt="Blugoon by Tooplate" /></a>
            </div> -->
            <div class="author-content"><br><br>
              <h5 style="color:snow;background-color: black;">Railway Feedback</h5>
              <!-- <span>Railway Feedback</span> -->
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="/userhome">Home</a></li>
                
                
                <li><a href="/ac">Add Complaints</a></li>
                <li><a href="/vm">View Messages</a></li>
                <li><a href="/index">Logout</a></li>
              </ul>
            </nav>
            <div class="social-network">
              <ul class="soial-icons">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-dribbble"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-rss"></i></a>
                </li>
              </ul>
            </div>
            <!-- <div class="copyright-text">
              <p>Copyright 2020 Blugoon<br>
              Design: Tooplate</p>
            </div> -->
          </div>
        </div>
      </div>

      <section class="section about-me" data-section="section1">
        <div class="container">
        <!-- <div class="top-header">
        	<img src="../static/assets/images/1234.png"  />
        </div> -->
          <div class="section-heading">
          
            <center><h2>Railway Feedback Using Machine Learning</h2></center><br>
            <!-- <div class="line-dec"></div> -->
            <!-- <span>We welcome your feedback and suggestion about the portal to help us further and serve you better. You may use the Speak Out facility to send us your detailed opinion or fill up the form below to write to us with your input and queries.</span> -->
          </div>
          <div class="right-image-post">
            <div class="row">
                <center></center><br/>
                <center>
                    <h6><font color="black" size="4" style="margin-left: 250px;"> Add Complaint form</font></h6>
                    <form name="myform" action="/acact" method="post" style="margin-left: 250px;">
                    <table border="0" >
                    <tr><td><font color="black">  Name</td><td><input type="text" name="uname" required=""  style="border-radius: 2cm;"></td></tr>
                    <tr><td><font color="black">Complaint</td><td><textarea name="post" id="result1" required style="width: 100%;height: 1000%;"></textarea></td></tr>
                      <tr><input type="hidden" name="type" value="pending" required=""  style="border-radius: 2cm;"></td></tr>
                      <div style="position:absolute; right:52%;border:1px solid rgb(243, 234, 234);padding:5px 8px;margin-top: 100px;margin-left: 150px;" onclick="startConverting()"><i class="fa fa-microphone" ></i></div>
                      <!-- click this button to stop converting-->
                      <button style="position:absolute; left:51%;margin-top: 100px;" onclick="stopConverting();"><i class="fa fa-remove"></i></button>
                           
                    <tr rowspan="2" align="center"><td><br><br><input type="submit" name="submit" value="Add" style="border-radius: 2cm;"/></td></tr>
                    <tr></tr>      
                    </table>
                    </form>
                    <script type="text/javascript">
    
                      var overlay = document.getElementById("overlay");
                      
                      
                        var r = document.getElementById('result1');
                        var speechRecognizer = new webkitSpeechRecognition();// a new speech recognition object
                        
                        //function to start listening to voice and then convert it to text
                        function startConverting () {
                          if('webkitSpeechRecognition' in window){
                            
                            speechRecognizer.continuous = true;
                            speechRecognizer.interimResults = true;
                            speechRecognizer.lang = 'en-IN';
                            speechRecognizer.start();
                            var finalTranscripts = '';
                            speechRecognizer.onresult = function(event){
                              var interimTranscripts = '';
                              for(var i = event.resultIndex; i < event.results.length; i++){
                                var transcript = event.results[i][0].transcript;
                                transcript.replace("\n", "<br>");
                                if(event.results[i].isFinal){
                                  finalTranscripts += transcript;
                                }else{
                                  interimTranscripts += transcript;
                                }
                              }
                              r.value = finalTranscripts + interimTranscripts ;
                            };
                            speechRecognizer.onerror = function (event) {
                            };
                          }else{
                            r.innerHTML = 'No browser support. Please upgrade your browser';
                          }
                        }
                        //function to stop listening
                        function stopConverting()
                        {
                          speechRecognizer.stop();
                        }
                      
                      </script><br>
                    </center>
              
            </div>
          </div>
      
        </div>
      </section>

    
   
    </div>
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script> -->
  </body>
</html>